.container {
    max-width: 1200px !important;
}

body {
    margin: 0 auto;
    color: #3B3D40;
    font-size: 16px;
    font-family: "Noto Sans JP";
    letter-spacing: 0.15em;
    line-height: 1.75;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
}

p {
    font-size: 1rem;
    padding-bottom: 0.68rem;
    margin: 0;
}

h1 {
    margin-bottom: 0 0 20px;
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: 1.3;
    font-weight: normal;
}

h2 {
    margin-bottom: 0 0 20px;
    font-size: 1.25rem;
    line-height: 20px;
    font-weight: bold;
}

h3 {
    margin: 0;
    font-size: 1rem;
    line-height: 27px;
    font-weight: normal;
}

.pc {
    display: block !important;
}

.sp {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .pc {
        display: none !important;
    }
    
    .sp {
        display: block !important;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

a, a:link, a:visited {
    color: #000;
    text-decoration: none
}

a:hover {
    color: #FFDC1E;
}

.a-blue {
    color: #2E71F2;
    text-decoration: none
}

.a-blue:link {
    color: #2E71F2;
    text-decoration: none
}

.a-blue:visited {
    color: #2E71F2;
    text-decoration: none
}

.pt-80px {
    padding-top: 80px;
}

.pt-header {
    padding-top: 160px;
}

.pt-row {
    padding-top: 3rem;
}

@media screen and (max-width: 600px) {
    .pt-header {
        padding-top: 80px;
    }

    .pt-row {
        padding-top: 0;
    }
}

img {
    width: 100%;
}

.hero-img {
    width: 100%;
    height: 400px;
    padding-top: calc(300 / 1000 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    margin: 0 0 80px;
    background: url(/images/top.jpg) center center / cover no-repeat;
}

.hero-img-video {
    width: 100%;
    height: auto;
    overflow: auto;
    /* background: linear-gradient(90deg, #84beff, #ffef39 50%, #84beff) */
}

.hero-img-video > video {
    width: 100%;
    margin: 0 auto 80px;
    display: block;
    overflow: hidden;
}

.hero-img-video > img {
    display: none;
}

.hero-img-video > video.full {
    width: 100%;
    height: auto;
    max-width: none;
    display: block;
}

.hero-img-video > video.full_sp {
    width: 100%;
    height: auto;
    max-width: none;
    display: block;
}

@media screen and (max-width: 600px) {
    .hero-img-video {
        overflow: hidden;
    }

    .hero-img-video > video.full {
        width: auto;
        height: 480px;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.my-header {
    width: 100%;
    height: 80px;
    background-color: #fff;    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.my-header-spacer {
    padding-bottom: 80px;
}

.my-header-sp {
    display: none;
    padding: 5px 20px;
    width: 100%;
}

.my-header-sp > .logo {
    height: 28px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-header-sp > .logo > img {
    height: auto;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-header-sp > .menu-icon {
    display: block;
    padding: 20px 10px;
}

.my-header-sp > .menu-icon-close {
    display: none;
    padding: 20px 10px;
    z-index: 1000;
    color: #fff;
}

.my-header-sp > .menu-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);;
    height: 100%;
    z-index: 100;
    padding-top: 60px;
}

.my-header-sp > .menu-container > .menu {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

.my-header-pc {
    display: block;
    padding: 30px 0 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    display: flex;
    font-size: 0.87rem;
    letter-spacing: 2.8px;
    color: #000;
}

.my-header-pc > .logo {
    position: relative;
    height: 40px;
    margin-right: auto;
    margin-left: 100px;
}

@media screen and (max-width: 1200px) {
    .my-header-pc .logo {
        margin-left: 0;
    }
}

.my-header-pc > .logo > img {
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
}

.my-header-pc > .logo > img.active {
    opacity: 0;
}

.my-header-pc > .logo > img.active:hover {
    opacity: 1;
}

@media screen and (max-width: 1140px) {
    .my-header-pc {
        padding: 30px 20px 10px;
    }
}

@media screen and (max-width: 800px) {
    .my-header-pc {
        display: none;
    }

    .my-header-sp {
        display: flex;
    }
}

.my-header .menu {
    padding: 0 36px;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.my-header .menu:last-child {
    padding-right: 60px;
}

@media screen and (max-width: 1200px) {
    .my-header .menu:last-child {
        padding-right: 0;
    }
}

.my-footer {
    width: 100%;
    height: 200px;
    margin: 40px 0 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 16px;
}

.my-footer .sns_menu ul {
    text-align: center;
    padding: 0;
}

.my-footer .sns_menu ul li {
    display: inline-block;
    padding: 20px 20px;
    font-size: 1.5rem;
}

.my-card {
    padding-bottom: 40px; 
}

.my-card:hover {
    opacity: 0.7;
}

.my-card .image-wrap {
    overflow: hidden;
    margin-bottom: 20px;
}

.my-card img {
    transition-duration: 0.4s;
}

.my-card:hover img {
    transform: scale(1.1);
    opacity: 0.7;
}

.my-card .title {
    font-weight: bold;
    padding: 10px 0 0;
    margin: 0;
    font-size: 1.25rem;
}

.my-card .subtitle {
    font-weight: normal;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    font-size: 1.0rem;
}

/* ----- about ----- */
.my-about-topimage {
    margin: 0 auto 40px;
}

.my-about-topimage-sp {
    display: none;
}

.my-about dl dt {
    font-weight: bold;
    float: left;
    width: 8rem;
    letter-spacing: 0rem;
}

.my-about dl dd {
    padding-left: 8rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .my-about {
        width: 80%;
        margin: 0 auto;
    }

    .my-about-topimage {
        display: none;
    }

    .my-about-topimage-sp {
        display: block;
    }    

    .my-about dl dt {
        float: none;
        padding-bottom: 5px;
    }
    
    .my-about dl dd {
        padding-left: 0;
    }
    
}

.my-work-content img {
    margin-bottom: 20px;
}

.my-work-content video {
    width: 100%;
}

.my-contact .lead-text {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .my-contact .lead-text {
        font-size: 1.0rem;
        font-weight: bold;
    }
}

.my-contact .form {
    width: 100%;
}

.my-contact iframe {
    width: 100%;
    height: 800px;
}
